[mysqld]


port = 3306
bind-address = 0.0.0.0
lower_case_table_names = 1

# -----------------------------
# GTID and binary logging
# Required for Group Replication
# -----------------------------
gtid_mode = ON
enforce_gtid_consistency = ON
binlog_format = ROW
log_bin = mysql-bin
log_replica_updates = ON
binlog_checksum = NONE

master_info_repository = TABLE
relay_log_info_repository = TABLE

# -----------------------------
# Transaction write set tracking
# Used by Group Replication
# -----------------------------
transaction_write_set_extraction = XXHASH64
binlog_transaction_dependency_tracking = WRITESET

# -----------------------------
# Group Replication plugin
# -----------------------------
plugin_load_add = group_replication.so

# -----------------------------
# Group Replication common config
# -----------------------------
loose-group_replication_group_name = "b565a95e-1bf6-11ee-be56-0242ac120002"
loose-group_replication_group_seeds = "10.0.3.11:33061,10.0.3.12:33061,10.0.3.13:33061"
loose-group_replication_ip_allowlist = "10.0.3.0/24"

# Manual startup is safer during setup
loose-group_replication_start_on_boot = OFF
loose-group_replication_bootstrap_group = OFF

# Single-primary mode
loose-group_replication_single_primary_mode = ON
loose-group_replication_enforce_update_everywhere_checks = OFF

# -----------------------------
# Storage engine safety
# -----------------------------
disabled_storage_engines = MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,EXAMPLE