[mysqld]

# Identity & Network
#report-id = Utilize Docker Entrypoint Overrides to inject
#Unique Server IDs at runtime 

report_port = 3306
bind_address= 0.0.0.0

# -------- GTID (Global Transaction ID) & Consistency -----
gtid_mode = ON
enforce_gtid_consistency = ON


#-------- Logging & Replication ---------------------------
binlog_format = ROW
log_bin = mysql-bin 

master_info_repository = TABLE
relay_log_info_repository = TABLE

transaction_write_set_extraction = XXHASH64
binlog_transaction_dependency_tracking = WRITESET 

#--------InnoDB cluster plugin settings-------------------
plugin_load_add = group_replication.so 

# The internal port 33061 used for data sync between nodes
loose-group_replication_group_seeds = "10.0.3.11:33061,10.0.3.12:33061,10.0.3.13:33061"

# Security: Only allow connections from specific DB Vlan
loose-group_replication_ip_whitelist = "10.0.3.0/24"

# Logic: Dont start the cluster automatically ; wait for MySQL Shell command
loose-group_replication_start_on_boot = OFF
loose-group_replication_bootstrap_group = OFF

# ------- Performance & Requirement ----------------------
#InnoDB cluster requies all tables to use InnoDB engine

disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,EXAMPLE"
slave_parallel_workers = 4